<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153311154391-au81p3lh9odg7ek0o8eg0u4pfjpl3m10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153311154391-au81p3lh9odg7ek0o8eg0u4pfjpl3m10</string>
	<key>API_KEY</key>
	<string>AIzaSyCbSMlcUCcjARwu8KgZJQ4gm3ocq13d9L8</string>
	<key>GCM_SENDER_ID</key>
	<string>153311154391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blindAssist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blind-assist-66d0d</string>
	<key>STORAGE_BUCKET</key>
	<string>blind-assist-66d0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153311154391:ios:81536098229e6b3eece092</string>
</dict>
</plist>